Source: wmitime
zSection: x11
Priority: optional
Maintainer: Jari Aalto <jari.aalto@cante.net>
Standards-Version: 3.7.3
Build-Depends: debhelper (>= 5), dpatch, libx11-dev, libxext-dev, libxpm-dev
Vcs-Git: http://git.debian.org/collab-maint/wmitime.git
Vcs-Browser: http://git.debian.org/?p=collab-maint/wmitime.git;a=summary

Package: wmitime
Architecture: any
Depends: ${shlibs:Depends}
Suggests: wmaker
Description: clock dock app showing time and internet time
 WMitime is clock dock app, which shows standard time,
 date, as well as the new internet time <http://www.swatch.com/>.
