#!/usr/bin/make -f

PACKAGE	  = wmitime
BIN	  = $(PACKAGE)/$(PACKAGE)
MAKE_FLAGS = -C wmitime

include /usr/share/dpkg/buildflags.mk
CFLAGS	+= -Wall -pedantic
LDFLAGS += -Wl,--as-needed
export CFLAGS LDFLAGS

include debian/debian-vars.mk

man:
	$(MAKE) -C debian -f pod2man.mk PACKAGE=$(PACKAGE) makeman

override_dh_auto_build: man
	$(MAKE) $(MAKE_FLAGS) FLAGS="$(CFLAGS) $(LDFLAGS)"

override_dh_auto_clean:
	$(MAKE) $(MAKE_FLAGS) clean

override_dh_auto_install:
	install -D -m 755  $(BIN) $(BINDIR)/$(PACKAGE)
	$(INSTALL_DIR) $(DESKTOPDIR)
	$(INSTALL_DATA) debian/*.desktop $(DESKTOPDIR)

%:
	dh $@

.PHONY: man

# End of file
